<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Endpoints</h1>
            <br><br>
            <h4>Operation &emsp; &emsp; /[operand1]/[operation]/[operand2]...</h4>
            <h4>History &ensp; &emsp; &emsp; /history</h4>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>


<!-- <html>

<head>
    <title>res.render() Demo</title>
</head>

<body>
    <h2>Welcome to Calculator</h2>
    <p>Available Endpoints:</p>
    <ul>
        <li>/history</li>
        <li>/[operand1]/[operation]/[operand2]/...</li>
    </ul>
</body>

</html> -->